.pics-list {
    .student-container {
        position: relative;
        background-color: yellow;
        img {
            height: 200px;
        }
        .hint {
            position: absolute;
            background-color: greenyellow;
            bottom: 0;
        }
    }
}